:root {
    --darkest: #040407;
    --darker: #1e1d25;
    --dark: #312f3b;
    --red: #8d2525;
    --yellow: #cca655;
    --blue: #545fa8;
}

body {
    background-color: var(--darker);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Parallax Styles */

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.mg, .fg {
    position: absolute;
    height: 1000px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.mg {
    transform: translateZ(-10px) scale(2);
    pointer-events: none;
    opacity: 0.3;
}

.fg {
    transform: translateZ(-5px) scale(1.5);
    pointer-events: none;
    opacity: 0.5;
}

/* NAVBAR STYLRS */

.nav-wrapper {
    background-color: var(--darkest);
    background-image: url("../images/banner.jpg");
    background-size: cover;
    padding-bottom: 80px;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--blue);
    border-radius: 5px;
}

.brand-logo {
    font-weight: bold;
}

.btn:hover {
    background-color: var(--red);
}

#logo {
    max-width: 100%;
    width: 70px;
    margin: 5px;
    padding-right: 10px;
}

.app-title {
    padding-top: 5px;
}

.app-title:hover {
    cursor: pointer;
}

#logo:hover{
    cursor: pointer;
}

/* OPTION SECTION STYLES */

.checkbox-color[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--red);
    background-color: var(--red);
  }

#submit {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    background-color: var(--blue);
    border-radius: 5px;
}

#submit:hover {
    background-color: var(--red);
}


#service {
    background-color: var(--yellow);
    background-image: url("../images/stars2.jpg");
    background-size: cover;
    box-shadow: 0px 0px 20px var(--darkest);
}

#genres {
    background-color: var(--yellow);
    background-image: url("../images/stars.jpg");
    background-size: cover;
    box-shadow: 0px 0px 20px var(--darkest);
}

#genres, #service {
    border-radius: 5px;
    margin-bottom: 3vh;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 30px;
    color: white;
}

.selections {
    color: black;
    margin: 10px;
    margin-left: 30px;
}
.add-star::before{
    content: "⭐"
}

#m-actors{
    padding:0;
}

/* .hide{
    display: none;
} */

.cust-flex{
    display: flex;
    align-items: center;
    
}

.app-title{
    font-family: 'Monoton', cursive;
    font-size: 3em;
    position: absolute;
    top:0;
    bottom:0;
    cursor: context-menu;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2%;
    border: 1px solid black;
    box-shadow: 0 0 5px #7e7d7e;
    background-color: white;
}

#m-plot{
    text-align: left;
    padding:5px;
    
}

.title-wrap{
    border-bottom: 1px solid black;
    width:90%;
}
strong{
    font-weight: bold;
}

/* MOVIE CARD STYLES */

.center {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 100%;
    background-color: var(--darkest);
    border-radius: 5px;
}

.fav {
    max-width: 100%;
    width: 50px;
    margin: 20px;
}
.related-img{
    cursor: pointer;
    margin: 1% auto;
    width: 100%;
}

/* .saved-img{
    cursor: pointer;
} */

/* .saved-img:hover{
    opacity: 0.7;
} */

.related-img:hover{
    opacity: 0.7;
    
}

.addBtn {
    background-color: var(--blue);
}

.addBtn:hover {
    background-color: var(--red);
}

.card-image {
    display: flex;
    justify-content: center;
    background-color: var(--darkest);
    border-radius: 5px;
    padding: 10px;
}

.main-movie {
    margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  background-color: var(--darkest);
  padding-top: 25px;
}


#poster {
    width: 60%;
    
}

#m-title {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}

/* More Movies */



h5 {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 30px;
}

#four-cards{
    width:50%;
    position: absolute;
    top: 60%;
    /* moves it too far down need to fix VVV */
    left:70px; 
}

#one-card{
    height:50%;
    margin-top: 20px;
}
.select-wrap{
    width:50%;
    margin-left: 60px;
}

#four-cards h4{
    width:100%;
    text-align: center;
}

/* saved page */

.saved-card {
    margin-top: 20px;
}
#saved-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:0 auto;
    
}
.cust-flex{
    flex: 0 0 20%;
    margin: 0 20px;
   
}

.related-sec-title{
    margin:0 auto;
    border-bottom:1px solid white;
    width:70%;
}

.saved-sec-title{
    margin:0 auto;
    border-bottom:1px solid white;
    width:70%;
    flex: 1 0 100%;
}

.saved-title {
    text-align: center;
    margin-top: 40px;
}
.flex-head{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}

.deleteBtn {
    background-color: var(--blue);
}

.saveCards {
    background-color: var(--darkest);
    text-align: center;
    padding-bottom: 10px;
}



/* MOBILE */

@media screen and (max-width: 992px){
    
    #four-cards{
        position: relative;
        width: 70%;
        left:5px; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-head{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height:auto;
    }
    #one-card{
        padding-top:5%;
        margin:auto;
    }
    .select-wrap{
        width:50%;
        margin-left: 60px;
    }
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */

    
  
    #four-cards{
        width:75%;
        margin: 0 auto;
        top:20%;
        display: flex;
        flex-wrap: wrap;
        
         
    }
    .cust-query{
        margin:0 auto;
        
    }
    .nav-wrapper a{
       font-size: 20px;
    }

    #poster {
        padding: 5px;
        max-width: 100%;  
    }

    #m-title {
        color: black;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
    }

    .recTitle {
        text-align: center;
    }

    #submit {
        margin-top: 20px;
        background-color: var(--blue);
        border-radius: 5px;
        font-size: 18px;
    }

    .listbtn {
        max-width: 50px;
    }

    .select-wrap{
        width:80%;
       margin: auto;
    }

    .related-sec-title{
        margin:0 auto;
        padding-right:50px;
        border-bottom:1px solid white;
        width:100%;
    }

}
@media screen and (max-width: 816px){
    .cust-flex{
        flex: 0 0 25%;
        
    }
}
@media screen and (max-width:500px){
    .cust-flex{
        flex: 0 0 40%

    }
    #four-cards{
        flex-direction: column;
        align-items: center;
    }
    


}
@media screen and (max-width:416px){
    #saved-cards{
        justify-content: center;
        flex-basis: 60%;
    }
}
  
