:root {
    --darkest: #040407;
    --dark: #312f3b;
    --red: #8d2525;
    --yellow: #cca655;
    --blue: #545fa8;
}

body {
    background-color: var(--dark);
    margin: 0;
}

/* Parallax Styles */

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.mg, .fg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.mg {
    transform: translateZ(-10px) scale(2);
    pointer-events: none;
}

.fg {
    transform: translateZ(-5px) scale(1.5);
    pointer-events: none;
}

/* NAVBAR STYLRS */

.nav-wrapper {
    background-color: var(--darkest);
}

.btn {
    background-color: var(--blue);
}

.btn:hover {
    background-color: var(--red);
}

#logo {
    max-width: 100%;
    width: 50px;
    margin: 5px;
}

/* OPTION SECTION STYLES */

.checkbox-color[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--red);
    background-color: var(--red);
  }

#submit {
    margin-top: 20px;
    background-color: var(--blue);
}

#submit:hover {
    background-color: var(--red);
}

#serviceTitle {
    margin-top: 100px;
}

#service {
    background-color: var(--yellow);
}

#genres {
    background-color: var(--yellow);
}

#genres, #service {
    border-radius: 20px;
    margin-bottom: 3vh;
}

h4 {
    margin-left: 30px;
    color: white;
}

span {
    color: black;
    margin: 10px;
    margin-left: 30px;
}
#m-actors{
    padding:0;
}
.hide{
    display: none;
}
.cust-flex{
    display: flex;
    align-items:center;
    line-height: 1px;
    
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2%;
}
#m-plot{
    text-align: left;
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    box-shadow: 1px 1px 1px 1px black;
}

/* MOVIE CARD STYLES */

.center {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 100%;
    background-color: white;
}

.fav {
    max-width: 100%;
    width: 50px;
    margin: 20px;
}
.related-img{
    cursor: pointer;
}

/* #fav:hover {
    
} */

.card-image {
    display: flex;
    justify-content: center;
    background-color: var(--darkest);
}

#poster {
    padding: 20px;
    max-width: 50%;
    
}

#m-title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}

/* More Movies */

.recTitle {
    margin-top: 40px;
}

/* FOOTER */

footer {
    margin-top: 100px;
    padding-bottom: 10px;
}

.page-footer {
    background: linear-gradient(var(--darkest), var(--dark));
}

h5 {
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 15px;
    line-height: 2em;
}

.contributors{
    line-height: 3em;
    font-size: 15px;
}

